@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #000000; 
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 20px;
  margin: 0;
  color: #efefef; 
  
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;z-index: 5;
}
p{z-index: 5;}
